Click  
Flask  
Flask-Login  
Flask-SocketIO  
Flask-SQLAlchemy  
Flask-WTF 
gevent  
gevent-websocket   
greenlet  
gunicorn  
itsdangerous
Jinja2 
MarkupSafe  
python-socketio  
SQLAlchemy  
WTForms  
Werkzeug 
email-validator