body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #c5d7bd;
}

#main-section {
    overflow: hidden;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fb743e;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
#display-message-section {
    background-color: #383e56;
    text-align: center;
    margin-top: 0;
    min-height: 82vh;
    max-height: 82vh;
    overflow-y: auto; /*Make  this section scrolable */
}

#input-area {
    padding-left: 1em;
    padding-right: 1em;
    bottom: 0;
    text-align: center;
}

input {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    width: 75%;
    border-radius: 12px;

}

input[type=text]:focus{
    border-color: #fb743e;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px #fb743e;
}

