<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />  
    <title>Brisvey</title>
</head>
<body>
    <!--Navigation bar-->
    <nav>

    </nav>

    <div id="main-section">
        <nav id="sidebar">
        <!--Room selection-->
        </nav>

        <div id="rightside-panel"> 
            <div id="display-message-section">

            </div>
            <div id="input-area">
                <input type="text" id="user_nessage" placeholder="Type here..."
                autocomplete="off">
                <button type="button" id="send_message">SEND</button>
            </div>
        </div>
    </div>
<body>
</html>